body{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  }
  img{
    max-width: 150px;
    max-height: 50px;
  }
  .maindiv{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 250px;
    min-height: 100px;
    padding:3rem;
    border-radius:0.5rem;
    border:1px solid #e1e1e1;
    text-align: center;
  }
  button{
    cursor: pointer;
    border:1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    color:white;
    border-radius: 4px;
    background-color: #1a73e8;
    outline: none;
    min-width: 88px;
  
  }